<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Andy &amp; Lyndsay</h2>
        </header>
        <p>1st September 2017</p>
        <footer>
            <ul class="buttons vertical">
                <form id="register_form" action="https://formspree.io/ali.scott@gmail.com" method="POST">
                  <li><input name="email" id="email" type="text" placeholder="Enter your email"/>
                  <li><button type="submit" class="button fit">Keep me updated</button></li>
                </form>
            </ul>
        </footer>

    </div>

</section>
