<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Lyndsay &amp; Andrew</h2>
        </header>
        <p>1<sup>st</sup> September 2017</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScOmcjm0xAwoVvS9oPA46EKuTGC9iVSxqSUWMiCI3ojnW7l2A/viewform" class="button fit scrolly rsvp">RSVP</a></li>
            </ul>
        </footer>

    </div>

</section>
